<div class="wrapper">
  <section class="quiz flex">
    <h1>Besoin d'inspiration ?</h1>
    <button type="button" routerLink="/quiz">Lance le Quiz !</button>
  </section>
</div>

<section class="lastSeen">
  <h2>Vu dernièrement</h2>
  <div class="cards flex">
    <div class="movieCard" *ngFor="let movie of movies">
      <img
        [src]="movie.posterUrl"
        alt="poster of movie"
        [routerLink]="['/movie', movie.id]"
      />
    </div>
  </div>
</section>

<section class="toSee">
  <h2>À voir</h2>
  <div class="cards flex">
    <div class="movieCard" *ngFor="let unseen of unseenMovies">
      <img
        [src]="unseen.posterUrl"
        alt="poster of movie"
        [routerLink]="['/movie', unseen.id]"
      />
    </div>
  </div>
</section>
