<div class="wrapper">
  <section class="quiz flex">
    <h1>Besoin d'inspiration ?</h1>
    <button type="button" routerLink="/quiz">Lance le Quiz !</button>
  </section>
</div>

<section class="lastSeen">
  <h2>Dernièrement vu</h2>
  <div class="flex">
    <div class="movieCard" *ngFor="let movie of movies">
      <img [src]="movie.posterUrl" alt="" />
    </div>
  </div>
</section>

<section class="toSee">
  <h2>À voir</h2>
  <div class="flex">
    <div class="movieCard"></div>
  </div>
</section>
