<div class="wrapper">
  <nav>
    <a routerLink="/to-see"
      ><img
        src="../../assets/toSee.svg"
        alt="icon for to see page"
        class="icon"
    /></a>
    <a routerLink="/my-movies"
      ><img
        src="../../assets/myMovies.svg"
        alt=" clapperboard icon for movie list page"
        class="icon"
    /></a>
    <a routerLink="/add-movie"
      ><img
        src="../../assets/add.svg"
        alt=" plus icon to add movie"
        class="icon"
    /></a>
    <a routerLink="/quiz"
      ><img
        src="../../assets/quiz.svg"
        alt=" question mark icon to access quiz page"
        class="icon"
    /></a>
    <a routerLink="/search"
      ><img
        src="../../assets/search.svg"
        alt="loonking glass icon to look for movies"
        class="icon"
    /></a>
  </nav>
</div>
