<div class="wrapper">
  <div class="header flex">
    <h1>Mes films</h1>
    <button
      id="filterButton"
      (click)="toggleFilters(); $event.stopPropagation()"
      type="button"
    >
      Tri/Filtres
    </button>
  </div>

  <div class="movies">
    <div class="cards flex">
      <div
        class="movieCard"
        *ngFor="let movie of movies"
        [routerLink]="['/movie', movie.id]"
      >
        <img
          src="https://image.tmdb.org/t/p/w342{{ movie.posterUrl }}"
          [alt]="movie.vo"
        />
      </div>
    </div>
  </div>
</div>
<app-filter-sort-menu
  *ngIf="showFilters === true"
  (clickOutside)="showFilters = false"
>
</app-filter-sort-menu>
